        .nag-wrapper {
           width:100%; 
        }

        #nag {
            float:left;
            text-align:center;
            width:70%;
			height:23%;
            background-color:gold;
            color:white;
            font-size:25;  
            
            border-collapse:collapse;
            box-sizing: border-box;          
        }

        .log {
            float:right;
            width:30%;         
			height:23%;
            background-color:goldenrod;
            color:brown;
            font-size:16;
            text-align:center;          
            
            border-collapse:collapse;
            box-sizing: border-box;
        }

        .content-rejestracja {
            width:100%;
            height: 70%;
            background-color:brown;
            color:white;
            font-size:18;
            padding:15px;
        }


        .rejestracja-blok{
            margin:5px;
        }

        .rejestracja-element{
            float:left;
            ;
        }


        .rejestracja-label{            
            margin:5px;
            
            
        }

        .rejestracja-input {
            margin:5px;
            background-color: gold;
            
        }

        a { 
            text-decoration: none 
        }


        .adopcja {
            width:100%;
            color:white;
            background-color: brown;
        }

        .blok{
            float:left;

        }

        .podblok{
            margin:5px;
            font-size:18;

        }

        .content-moj_profil{
            width:100%;
            background-color:brown;
            color:white;
            padding:15px;
        }


        .menu {
            background-color:goldenrod;
            color:white;
            font-size:18;
            margin: 0px;
            border-collapse:collapse;
            width:100%;
            border-bottom:1px solid brown;   
			

        }

        .menu-element {
            padding:10px;
            float:left;
            border-right:1px solid brown;
            color: white;
            text-decoration: none;
        }

        .menu-element:hover {
            background-color: brown;
        }
		
		 .content {
            width: 100%;
        }
		
        .content_schroniska {
            width: 100%;
            height: 313px;
        }

        .wysz {
            background-color:gold;
            width:30%;
            padding:8px;
            border:2px solid brown;
            color:brown;
            font-size:25;
            text-align:center;
            float: left;
            box-sizing: border-box;
        }

        .wysz-element {
            padding:10px;
            border:1px solid brown;
            font-size:20;
            color:white;
            text-align:left;
            text-align: left;
            width: 100%;
            box-sizing: border-box;


        }

        .wysz-element .wysz-label {
            float: left;
            width: 30%;
            box-sizing: border-box;
        }

        .wysz-element .wysz-input {
            float: left;
            width: 70%;
            box-sizing: border-box;
        }

        .profile {
            padding: 20px;           
            width:70%;
            border:1px;
            border-color: green;
            box-sizing: border-box;
            float: left;
        }

        .profile-element {
            display:inline-block;
            border:1px;
            border-color: green;
            box-sizing: border-box;
            margin: 5px;

        }

        .profile-zdjecie {
            width: 150px;
            height: 150px;
            margin-bottom: 15px;

        }

        .profile-opis {
            text-align:center;
            color:brown;
            

        }

        .log-sch {
            background-color:gold;
            color:brown;
            text-align:center;
            font-size:20;
            padding:5px;
        }

        #stopka{
            text-align:center;
            background-color:gold;
            color:white;
            font-size:20;             
            padding:5px;

        }

        /* .clearfix:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
 
        .clearfix {
            display: inline-block;
        }
         
        html[xmlns] .clearfix {
            display: block;
        }
         
        * html .clearfix {
            height: 1%;
        } */

        .clearfix:before,
        .clearfix:after {
            content: " "; /* 1 */
            display: table; /* 2 */
        }

        .clearfix:after {
            clear: both;
        }

        /**
         * For IE 6/7 only
         * Include this rule to trigger hasLayout and contain floats.
         */
        .clearfix {
            *zoom: 1;
        }
        
         /* wygl�d g��wnego elementu - ol */
      ol {
        list-style-type:none;
        padding:0;
        margin:-1px;
        background-color:#daa520;
        font-size:18px;
        height:2em;
        line-height:2em;
        text-align:center;
		border-top:1px solid brown;
      }

      /* wygl�d wszystkich element�w - a - znajduj�cych si� w elemencie - ol */
      ol a {
        display:block;
        text-decoration:none;
        color:#FFF;
        padding:0 5px;
      }

      /* wygl�d element�w - li - wszystkich dzieci elementu - ol */
      ol > li {
        float:left;
        width:150px;
        margin-left:1px;
        background-color:daa520;
        height:2em;
		border-right:1px solid brown;
      }

      /* wygl�d elementu - li - pierwszego dziecka elementu - ol */
      ol > li:first-child {
        margin-left:0;
      }

      /* wygl�d element�w - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
      ol > li:hover {
        background-color:brown;
      }

      /* wygl�d elementu - a - dziecka elementu - li - b�d�cego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      ol > li:hover > a {
        color:#FFF;
      }

      /* wygl�d elementu - ul - dziecka elementu - li - b�d�cego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      ol > li:hover > ul {
        display:block;
      }

      /* wygl�d g��wnych rozwijanych element�w - ul */
      ol > li > ul {
        display:none;
        list-style-type:none;
        padding:0;
        margin:0;
      }

      /* wygl�d elementu - li - w cz�ci rozwijanej */
      ol > li > ul > li {
        position:relative;
        background-color:goldenrod;
      }

      /* wygl�d elementu - a - w cz�ci rozwijanej */
      ol > li > ul > li > a {
        border:1px solid brown;
      }

      /* wygl�d elementu - li - w cz�ci rozwijanej, po najechaniu kursorem myszki na dany element - li */
      ol > li > ul > li:hover {
        background-color:brown;
      }

      /* wygl�d elementu - a - w cz�ci rozwijanej, po najechaniu kursorem myszki na element - li */
      ol > li > ul > li:hover > a {
        color:#FFF;
      }
	
	/* glowna */
	.profile_glowna {
            padding: 20px;           
            width:70%;
            border:1px;
            border-color: green;
            box-sizing: border-box;
            float: left;
        }

    .profile-element_glowna {
        float:left;
        border:1px;
        border-color: green;
        box-sizing: border-box;
        margin: 5px;

    }

    .profile-zdjecie_glowna {
        width: 150px;
        height: 150px;
        margin-bottom: 15px;

    }

    .profile-opis_glowna {
        text-align:center;
        color:brown;
        box-sizing: border-box;

    }
	
	
	/* schroniska */
	.wysz-sch {
			background-color:gold;
			width:30%;
			border:2px solid brown;
			color:brown;
			font-size:25;
			text-align:center;
			float:left;
			box-sizing:border-box;
			padding:20px;
		}
		
	.wysz-sch-element {
		padding:20px;
		font-size:20;
		color:white;
		text-align:left;
		width:100%;
		box-sizing: border-box;
		border:1px solid brown;
		}
	
	.wysz-sch-element .wysz-sch-label {
		float:left;
		width:35%;
		box-sizing: border-box;
		}
		
	.wysz-sch-element .wysz-sch-input {
		float:left;
		width:65%;
		box-sizing: border-box;
		}
	
	.sch {
		float:right;
		width:70%;
		background-color:white;
		color: brown;
		font-size:18;
		text-align:left;
		box-sizing: border-box;
		padding:10px;
		border:1;
		}
		
	.sch-element {
		border:1px;
		box-sizing:border-box;
		font-size:17;
		text-align:left;
		padding:10px;
		}
	
	.sch-opis {
		font-size:16;
		text-align:left;
		box-sizing:border-box;
		padding:20px
		}

	/* rasy */
	.profile {
            padding: 20px;           
            width:100%;
            height: 108%;
            box-sizing: border-box;
            float:center;
			background-color:pink;
			
        }

    .profile-element {
        float:center;
        box-sizing: border-box;
        margin: 0px;
		border: 0px;
    }

    .profile-zdjecie {
        width: 200px;
        height: 200px;
        margin-bottom:15px;
		
    }
	
	.profile-opis {
        text-align:left;
        color:brown;
        box-sizing: border-box;
		
    }
 
 	.rasy {		    
	    color:white;
        font-size:20;
	    width:18%;
        background-color: gold;
    	border: 0px;    
    }	
	/* profile */
	.zwie {
			width:100%;
			padding:15px;
			float:left;
			background-color: white;
			color:brown;
			font-size:18px;
			border:1px solid brown;
			box-sizing:border-box;
			}
		
	.zwie-element {
		float:left;
		border:1px;
		border-color: green;
		box-sizing: border-box;
		margin:5px;
		}
		
	.zwie-zdjecie {
		width:150px;
		height:150px;
		margin-bottom:15px;
		}
		
	.zwie-opis {
		text-align:left;
		color:brown;
		box-sizing: border-box;
		}
		
		
	/* sponsorzy */
	.sponsorzy {
            width:100%;
            padding:5px;
            float:left;
            background-color:brown;
            box-sizing: border-box;
            
    }
    .sponsorzy-element {
        text-align:center;
        width:20%;
        margin:30px;
        padding:5px;
        float:left;
        color:brown;
        background-color:beige;
        box-sizing: border-box;
        
    }
	
 	.kontakt {
        background-color:brown;         
        width:100%;

    }